<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was made as a test project</p>
        <img class="portrait" src="./img/avatar.jpg">
    </div>
    {{>footer}}
</body>

</html>